<p>Simple motivating RubyOnRails project of self developing and motivating.</P>
<p>The purposes of this project are:</p>
<ul>
<li>Self control of everydays routines</li>
<li>Ruby on Rails study</li>
<li>Share my thoughts</li>
<li>Become more responsible, because of publicity</li>
<li>etc ...</li>
</ul>
<%= link_to "Show blog=>", posts_path %>
